:root {
  --border-color: hsl(0, 0%, 0%);
  --main-color: hsl(194,100%,32%);
  --secondary-color: hsl(100, 100%, 100%);
  --secondary-color-a70: hsla(100, 100%, 100%, 0.7);
  --accent-color: hsl(0, 0%, 92%);
  --extra-color: hsl(167,98%,38%);
  --error-color: hsl(352,86%,53%);
}

html,
body,
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

header {
  padding: 1rem;
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

#app {
  padding: 1rem;
  max-width: 768px;
  margin: 0 auto;
}

@media(min-width: 1024px) {
  #app {
    padding: 1rem 0;
  }
}

.c-color-list__item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 6px;
}
.c-color-list__item:hover {
  cursor: pointer;
  border: 1px dashed var(--border-color);
}

.c-color-list__item:not(:first-of-type) {
  margin-top: 0.2rem;
}

.c-color-list__item--header {
  background-color: var(--main-color);
  color: var(--secondary-color);
}
.c-color-list__item--header:hover {
  border: 1px solid var(--border-color);
}
.c-color-list__item--edit {
  background-color: var(--accent-color);
}
.c-color-list__item--edit:hover {
  cursor: auto;
  border: 1px solid var(--border-color);
}


.c-color-item {
  flex: 1 1 calc(100% / 3);
  text-align: left;
}
.c-color-item:not(:first-of-type) {
  margin-left: 1rem;
}
.c-color-item__input {
  width: auto;
  min-width: 20px;
  border: none;
  padding: 0.2rem 0.4rem;
}
.c-color-item__input:focus {
  background: var(--accent-color);
}

.c-color-item--ci {
  padding: 0.2rem 0.3rem;
  background: var(--secondary-color);
}
.c-color-item--ci:focus {
  background: var(--secondary-color-a70);
}

.c-color-add {
  margin-top: 0.2rem;
  list-style-type: none;
  text-align: center;
  display: flex;
  position: sticky;
  bottom: 0;
}

.c-button {
  background: var(--main-color);
  padding: 0.4rem 0.6rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: var(--secondary-color);
}
.c-button--add {
  width: 100%;
}
.c-button--confirm {
  width: 100%;
  background: var(--extra-color);
}
.c-button--delete {
  width: 100%;
  background: transparent;
  color: black;
}
.c-button--delete:hover {
  background: var(--error-color);
  color: var(--secondary-color);
}

.c-color-picker-button {
  background: transparent;
  border-radius: 6px;
  border:none;
  cursor: pointer;
  padding:0;
}

.c-color-picker-button:hover {
  color: var(--main-color);
}

.c-dropdown {
  width: auto;
  height: auto;
  z-index: 10;
}

.c-arrow,
.c-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

.c-arrow::before {
  content: '';
  transform: rotate(45deg);
  background: #333;
}

.c-dropdown[data-popper-placement^='top'] > .c-arrow {
  bottom: -4px;
}

.c-dropdown[data-popper-placement^='bottom'] > .c-arrow {
  top: -4px;
}

.c-dropdown[data-popper-placement^='left'] > .c-arrow {
  right: -4px;
}

.c-dropdown[data-popper-placement^='right'] > .c-arrow {
  left: -4px;
}

.c-color-square {
  display: inline-block;
  width: 12px;
  height:12px;
  margin-left: 0.5rem;
  border: 1px solid black;
}

.u-flex-1 {
  flex: 1 1 auto;
}
.u-flex {
  display: flex;
}
.u-bg-accent {
  background: var(--accent-color);
}
.u-hidden {
  display: none !important;
}
.u-ml--8 {
  margin-left: 0.5rem;
}
.u-mt--2 {
  margin-top: 0.2rem;
}
